@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap");

.newspaper-container {
  width: 700px;
  margin: 0 auto;
  background: white;
  border-radius:20px;
  padding:1em;
  box-shadow:2px 2px 10px#ddd;

}

header h1{
    text-align: center;
}

ul li{
    list-style: none;
    padding:5px;
    
    
}

a{
  text-decoration: none;
}


ul{
    padding-inline-start: 20px;
}

li{
    display:inline-block;
    color:#777;
}

nav{
    position:sticky;
    top:0;
    border-top: solid;
    border-bottom: solid;
    color:#eee;
    background: white;
  
    
    
}
/*@font-face {
  font-family: face;
  src: url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap");
}*/

main h2{font-family:Roboto Slab;
}

section h4{font-family:Roboto Slab
}

body {
  background-color: #eee;
  font-family: Source Sans Pro;
}

Header h1{
  font-family: Abril Fatface;
}


h5 {
    color:#dd3232;
    font-family: Abril Fatface;
}

div section {
    display:inline-block;
    width: 49%;
    text-align:center;
    border-top:solid #eee;
    
}

.section1{
  border:5px solid red;
}

/*"The import at the top of the style.css file includes all the fonts needed for this activity.

Body font: Source Sans Pro
Header font: Abril Fatface
Article title font: Roboto Slab"*/
